
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "Lucida Grande", sans-serif;
	font-size: 14pt;
	height:100%;
	width: 100%;
	overflow:hidden;
	position:absolute;
}
#root {
	height:100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background:white;
}

/*********************/

header { /* control view */
	border-bottom: 2px solid darkgray;
	padding:16pt;
	font-size:14pt;
	width:100%;
	z-index:1;
	background: lightgray;
}

header > input {
	margin-right:6px;
	background:yellow;
	height:20px;
	border-radius: 30px;
	padding-left:8px;
	padding-right:8px;
}

button {
	height:25px;
	padding-left:16px;
	padding-right:16px;
	margin-left:3px;
	margin-right:3px;
	border-radius: 30px;
	background-color:white;
	border:2px solid darkgray;
	color:black;
}

button:active {
	background-color:lightgray;
	border-color:black;
}
button:disabled {
	background-color:lightgray;
	border-color:white;
	color:white;
}

/*********************/

.list {
	font-size:0px; /* prevent white space at bottom */
}
.list * {
	font-size:14pt; /* prevent white space at bottom */
}

.list {
	overflow-y:auto;
	overflow-x:hidden;
	background:white;
}

.list > li {
	position:relative;
	list-style: none;
	not-padding-top: 2pt;
	width : 100%;
	height: 20pt;
	box-sizing: border-box;
	padding-left: calc( var(--depth) * 16px);
}

.list > li.selected {
	background-color:yellow;
}

.list > li input[type=text] {
	padding-left:16px;
	position:relative;
	font-size:14pt;
	white-space: nowrap;
	background-color:transparent;
	font-family: "Lucida Grande", sans-serif;
	overflow:visible;
	box-sizing: border-box;
	border: none transparent;
	outline: none;
	width:100%;

}
.list > li span {
	position: relative;
	white-space: nowrap;
	height:20pt;
	width:100%;
	overflow:visible;
	left: 16px;
	display: table-cell;
}

.list > li input[type=checkbox] {
	position: absolute;
	z-index: 1;
	cursor: pointer;
	opacity:0;
	width:16px;
	height:20px;
	display: block;
}

.list input[type=checkbox] ~ div {
	position: absolute;
	margin-top: 6px;
	margin-bottom: -12px;
	border-style: solid;
	border-width: 12px 6px 0 6px;
	border-color: darkgray transparent transparent transparent;
	width: 0px;
	height: 0px;
}

.list input[type=checkbox]:checked ~ div {
	border-width: 6px 0 6px 12px;
	border-color: transparent transparent transparent darkgray;
}
